---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Blog';
---
<BaseLayout pageTitle={pageTitle}>
	<h1>Welcome to my life</h1>
    <ul>
        <li><a href="/posts/1">My First Post</a></li>
        <li><a href="/posts/2">My Family</a></li>
        <li><a href="/posts/3">My Friends</a></li>
    </ul>
</BaseLayout>