---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPostLink.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = 'Blog';
console.log(allPosts)
---
<BaseLayout pageTitle={pageTitle}>
	<h1>Welcome to my life</h1>
    <ul>
        {allPosts.map((post)=> <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
</BaseLayout>