---
import '../styles/global.css'
---

<a href="/">Home</a>
<a href="/about">About me</a>
<a href="/blog">Blog</a>

<h1>Welcome to my life</h1>

<ul>
    <li><a href="/posts/1">My First Post</a></li>
    <li><a href="/posts/2">My Family</a></li>
    <li><a href="/posts/3">My Friends</a></li>
</ul>