---
import Social from '../components/Social.astro'
---
<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
</style>

<footer>
    <p>Learn more about my projects on</p>
    <Social platform="github" username="gonzarl"/>
    <Social platform="linkedin" username="gonza-rludwig"/>
</footer>